Repository nakajima-john-shotaro/AIcon2, pull requests merged in 2021-10, with the labels that each got.

#103 Hotfix/big sleep
  aicon/backend/constant.py
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/big_sleep/biggan.py
  aicon/backend/models/deep_daze/clip.py
  docker/Dockerfile
Labels: change, backend, hotfix

#102 Feature/frontend/twitter
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, frontend

#104 Feature/backend/image
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/deep_daze/deep_daze.py
Labels: enhancement, backend

#105 Feature/frontend/twitter
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, wip

#106 Feature/backend/image
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
Labels: change, backend, hotfix

#107 [hotfix] Fixed error inserting target image.
  aicon/frontend/static/js/functions.js
Labels: frontend, hotfix

#108 Develop/develop
  aicon/backend/constant.py
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/big_sleep/biggan.py
  aicon/backend/models/deep_daze/clip.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
  docker/Dockerfile
Labels: change, hotfix

#109 Feature/frontend/twitter
  aicon/backend/server.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, frontend

#110 Develop/develop
  aicon/backend/server.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, backend, frontend, hotfix

#112 Update misspell-fixer.yml
  .github/workflows/misspell-fixer.yml
Labels: change

#113 Develop/frontend
  .github/workflows/misspell-fixer.yml
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/demo_img/icon/whiteout.png
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, change, frontend

#117 Develop/frontend
  aicon/frontend/static/js/constant.js
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: frontend, hotfix

#118 [Style] Clean console
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, change, frontend

#119 Feature/backend/diagnostics
  aicon/backend/constant.py
  aicon/backend/server.py
  aicon/backend/twitter.py
Labels: change, backend, hotfix

#120 [Fix] Remove bug
  aicon/frontend/static/js/functions.js
Labels: frontend, hotfix

#123 [update] Dynamic check function for communication partners added.
  aicon/frontend/static/js/functions.js
Labels: enhancement, frontend

#129 Develop/frontend
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/static/js/jquery.min.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/authentication.html
  aicon/frontend/templates/twitter-callback.html
  aicon/frontend/templates/twitter-send.html
Labels: enhancement, change, frontend
