Repository nakajima-john-shotaro/AIcon2, pull requests merged in 2021-09, with the labels that each got.

#3 Made two directories
  aicon/backend/.gitignore
  aicon/frontend/.gitignore
Labels: enhancement

#4 [DONT MERGE] [WIP]Add Circle CI
  .circleci/config.yml
Labels: enhancement

#5 Hotfix/circleci
  .circleci/config.yml
Labels: bug

#6 [fix] removed unnecessary parts
  .circleci/config.yml
Labels: bug

#8 Feature/spellcheck
  .github/workflows/misspell-fixer.yml
Labels: enhancement

#7 [change] Changed circleci config.yml
  .circleci/config.yml
  README.md
Labels: enhancement

#9 [feat] Introduced docker image ci
  .github/workflows/docker-ci.yml
  .github/workflows/misspell-fixer.yml
Labels: enhancement

#12 Fix/docker
  aicon/backend/runme.py
  docker/Dockerfile
  docker/build-docker.sh
  docker/run-docker.sh
Labels: enhancement

#10 [WIP] Develping backend [DON'T MARGE]
  aicon/backend/runme.py
Labels: wip

#13 Revert "Fix/docker"
  aicon/backend/runme.py
  docker/Dockerfile
  docker/build-docker.sh
  docker/run-docker.sh
Labels: invalid

#15 [add/backend] pylint ci and some backend tests
  .circleci/config.yml
  .github/workflows/docker-ci.yml
  aicon/backend/__init__.py
  aicon/test/__init__.py
  aicon/test/backend_import.py
  aicon/test/backend_translate.py
Labels: enhancement, backend

#17 [change] Chenged some files
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  README.md
  aicon/dummy_for_codeql.py
Labels: change

#18 Fix/docker
  docker/Dockerfile
  docker/build-docker.sh
  docker/run-docker.sh
Labels: change

#19 [update] add "javascript" to codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
  aicon/frontend/dummy_for_codeql.js
Labels: change

#22 [WIP] Backend develop branch PR
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-ci.yml
  README.md
  aicon/backend/__init__.py
  aicon/backend/constant.py
  aicon/backend/server.py
  aicon/dummy_for_codeql.py
  aicon/frontend/dummy_for_codeql.js
  aicon/test/__init__.py
  aicon/test/backend_import.py
  aicon/test/backend_translate.py
  docker/Dockerfile
  docker/build-docker.sh
  docker/run-docker.sh
Labels: wip, don't merge, backend

#24 [update] Changed default text. Changed from FLASK server to WSGI server.
  aicon/frontend/communication.py
  aicon/frontend/static/js/functions.js
Labels: change, frontend

#23 Create pull_request_template.md
  .github/pull_request_template.md
Labels: enhancement

#25 Update pull_request_template.md
  .github/pull_request_template.md
Labels: change

#27 Feature/backend/docker port
  aicon/frontend/communication.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/help.html
  docker/run-docker.sh
Labels: change, backend

#28 Feature/backend/multi thread
  aicon/backend/constant.py
  aicon/backend/server.py
Labels: enhancement, backend

#30 Applied for background task
  aicon/backend/constant.py
  aicon/backend/server.py
Labels: enhancement, backend

#26 Update pull_request_template.md
  .github/pull_request_template.md
Labels: documentation, change

#29 Changed server URL and removed communication.py
  aicon/frontend/communication.py
  aicon/frontend/static/js/functions.js
Labels: change, frontend

#31 Applied for background task
  aicon/backend/constant.py
  aicon/backend/server.py
  docker/run-docker.sh
Labels: enhancement, change, backend

#32 [change] Introduced img changer
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, frontend

#33 Develop/frontend
  aicon/frontend/communication.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, frontend

#34 [remove] Delete unnecessary files
  aicon/dummy_for_codeql.py
  aicon/frontend/.gitignore
  aicon/frontend/dummy_for_codeql.js
Labels: change

#21 [WIP] Main develop branch PR
  .circleci/config.yml
  .github/workflows/docker-ci.yml
  aicon/backend/__init__.py
  aicon/backend/constant.py
  aicon/backend/server.py
  aicon/dummy_for_codeql.py
  aicon/frontend/.gitignore
  aicon/frontend/dummy_for_codeql.js
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/help.html
  aicon/test/__init__.py
  aicon/test/backend_import.py
  aicon/test/backend_translate.py
  docker/Dockerfile
  docker/run-docker.sh
Labels: backend, frontend

#35 [WIP] Connection health checker
  aicon/backend/constant.py
  aicon/backend/server.py
  aicon/backend/translation.py
  aicon/frontend/communication.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, wip, backend

#36 Develop/frontend
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, change, frontend, hotfix

#37 Connection Health Checker and Priority Monitor
  aicon/backend/constant.py
  aicon/backend/server.py
  aicon/backend/translation.py
Labels: enhancement, backend, hotfix

#38 [fix] Fixed image path
  aicon/backend/server.py
Labels: backend, hotfix

#39 Fixed image path
  aicon/backend/server.py
Labels: hotfix

#43 Feature/backend/rate limitter
  aicon/backend/constant.py
  aicon/backend/server.py
Labels: enhancement, backend

#46 Feature/backend/deep daze
  aicon/backend/.gitignore
  aicon/backend/constant.py
  aicon/backend/models/deep_daze/__init__.py
  aicon/backend/models/deep_daze/cli.py
  aicon/backend/models/deep_daze/clip.py
  aicon/backend/models/deep_daze/data/bpe_simple_vocab_16e6.txt
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/models/deep_daze/version.py
  aicon/backend/server.py
  docker/Dockerfile
  docker/build-docker.sh
  docker/run-docker.sh
Labels: enhancement, change, backend, hotfix

#42 develop/backend to develop/develop PR
  .circleci/config.yml
  aicon/backend/.gitignore
  aicon/backend/constant.py
  aicon/backend/models/deep_daze/__init__.py
  aicon/backend/models/deep_daze/cli.py
  aicon/backend/models/deep_daze/clip.py
  aicon/backend/models/deep_daze/data/bpe_simple_vocab_16e6.txt
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/models/deep_daze/version.py
  aicon/backend/server.py
  aicon/backend/translation.py
  aicon/test/backend_import.py
  aicon/test/backend_translate.py
  docker/Dockerfile
  docker/build-docker.sh
  docker/run-docker.sh
Labels: enhancement, change, backend, hotfix

#47 Feature/frontend/carousel convert
  aicon/backend/constant.py
  aicon/backend/server.py
  aicon/backend/translation.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/css/help.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/static/js/help.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/help.html
Labels: bug, enhancement, change, frontend

#44 Create LICENSE
  LICENSE
Labels: documentation

#48 Develop/frontend
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/css/help.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/static/js/help.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/help.html
Labels: bug, enhancement, change, frontend

#49 [WIP] WIP.
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: change

#51 Feature/frontend/advanced settings
  aicon/frontend/static/font/nicokaku_v1.ttf
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: frontend, hotfix

#50 Fix/backend/deep daze
  aicon/backend/models/deep_daze/cli.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
Labels: backend, hotfix

#52 [update] Clean the display.
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: change, frontend

#53 Fix/backend/deep daze
  aicon/backend/constant.py
  aicon/backend/models/deep_daze/cli.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/css/help.css
  aicon/frontend/static/font/nicokaku_v1.ttf
  aicon/frontend/static/js/functions.js
  aicon/frontend/static/js/help.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/help.html
Labels: enhancement, change, backend, hotfix

#54 Feature/backend/garbage collection
  aicon/backend/constant.py
  aicon/backend/server.py
Labels: enhancement, backend

#56 Develop/backend
  aicon/backend/constant.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
Labels: enhancement, change, backend, hotfix

#55 Feature/frontend/advanced settings
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, change, frontend

#57 [change] Changed some constants
  aicon/backend/constant.py
  aicon/backend/server.py
Labels: change, backend

#62 Develop/frontend
  aicon/frontend/.gitignore
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/demo_img/Alice_in_wonderland.png
  aicon/frontend/static/demo_img/Demon_Slayer.png
  aicon/frontend/static/js/constant.js
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, change, frontend

#64 [fix] Fixed a bug
  aicon/backend/server.py
Labels: hotfix

#65 [fix] Fixed backbone key
  aicon/backend/constant.py
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
Labels: backend, hotfix

#66 Develop/backend
  aicon/backend/constant.py
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/big_sleep/clip.py
  aicon/backend/models/deep_daze/clip.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
Labels: change, backend, hotfix

#68 [update] Got stop function
  aicon/frontend/static/js/constant.js
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: hotfix

#69 Develop/backend
  aicon/backend/constant.py
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/big_sleep/clip.py
  aicon/backend/models/deep_daze/clip.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
Labels: enhancement, backend

#71 Feature/frontend/post process
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, change, frontend

#70 Feature/backend/twitter
  aicon/backend/constant.py
  aicon/backend/server.py
  aicon/backend/twitter.py
Labels: enhancement, backend

#72 Feature/backend/lifo
  aicon/backend/constant.py
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/big_sleep/clip.py
  aicon/backend/models/deep_daze/clip.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
  docker/Dockerfile
  docker/build-docker.sh
  docker/run-docker.sh
Labels: enhancement, change, backend, hotfix

#73 Feature/frontend/post process
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/demo_img/Fantasia_World.png
  aicon/frontend/static/demo_img/Fantasia_galaxy.png
  aicon/frontend/static/demo_img/bread.png
  aicon/frontend/static/demo_img/cinderella.png
  aicon/frontend/static/demo_img/fire_and_ice.png
  aicon/frontend/static/demo_img/galaxy.png
  aicon/frontend/static/demo_img/lagoon.png
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, change, frontend

#74 Develop/backend
  aicon/backend/constant.py
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/big_sleep/clip.py
  aicon/backend/models/deep_daze/clip.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
  aicon/backend/twitter.py
  docker/Dockerfile
  docker/build-docker.sh
  docker/run-docker.sh
Labels: enhancement, change, backend, hotfix

#75 Develop/develop
  .circleci/config.yml
  aicon/backend/.gitignore
  aicon/backend/constant.py
  aicon/backend/models/big_sleep/__init__.py
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/big_sleep/biggan.py
  aicon/backend/models/big_sleep/clip.py
  aicon/backend/models/big_sleep/data/bpe_simple_vocab_16e6.txt
  aicon/backend/models/big_sleep/ema.py
  aicon/backend/models/big_sleep/resample.py
  aicon/backend/models/deep_daze/__init__.py
  aicon/backend/models/deep_daze/clip.py
  aicon/backend/models/deep_daze/data/bpe_simple_vocab_16e6.txt
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
  aicon/backend/translation.py
  aicon/backend/twitter.py
  aicon/frontend/.gitignore
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/css/help.css
  aicon/frontend/static/demo_img/Alice_in_wonderland.png
  aicon/frontend/static/demo_img/Demon_Slayer.png
  aicon/frontend/static/demo_img/Fantasia_World.png
  aicon/frontend/static/demo_img/Fantasia_galaxy.png
  aicon/frontend/static/demo_img/bread.png
  aicon/frontend/static/demo_img/cinderella.png
  aicon/frontend/static/demo_img/fire_and_ice.png
  aicon/frontend/static/demo_img/galaxy.png
  aicon/frontend/static/demo_img/lagoon.png
  aicon/frontend/static/font/nicokaku_v1.ttf
  aicon/frontend/static/js/constant.js
  aicon/frontend/static/js/functions.js
  aicon/frontend/static/js/help.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/help.html
  aicon/test/backend_import.py
  aicon/test/backend_translate.py
  docker/Dockerfile
  docker/build-docker.sh
  docker/run-docker.sh
Labels: enhancement, backend, frontend, hotfix

#77 Develop/backend
  .circleci/config.yml
  .github/pull_request_template.md
  LICENSE
  aicon/test/backend_import.py
  docker/build-docker.sh
  docker/run-docker.sh
Labels: change, backend

#76 [fix] Fixed critical bug
  aicon/backend/server.py
Labels: backend, hotfix

#80 [chore] Fixed image name
  docker/build-docker.sh
  docker/run-docker.sh
Labels: hotfix

#79 Hotfix/v1.0.0
  .circleci/config.yml
  aicon/test/backend_import.py
  docker/build-docker.sh
  docker/run-docker.sh
Labels: hotfix

#82 Feature/frontend/post process
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/demo_img/BigSleep/Alice_in_wonderland.png
  aicon/frontend/static/demo_img/BigSleep/Demon_Slayer.png
  aicon/frontend/static/demo_img/BigSleep/Fantasia_World.png
  aicon/frontend/static/demo_img/BigSleep/Fantasia_galaxy.png
  aicon/frontend/static/demo_img/BigSleep/bread.png
  aicon/frontend/static/demo_img/BigSleep/cinderella.png
  aicon/frontend/static/demo_img/BigSleep/fire_and_ice.png
  aicon/frontend/static/demo_img/BigSleep/galaxy.png
  aicon/frontend/static/demo_img/BigSleep/lagoon.png
  aicon/frontend/static/demo_img/DeepDaze/Women_in_cyberpunk.png
  aicon/frontend/static/demo_img/DeepDaze/inferno.png
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: change, frontend

#83 [WIP] wip
  aicon/backend/constant.py
  aicon/backend/server.py
Labels: backend

#86 [WIP] wip
  aicon/backend/constant.py
  aicon/backend/server.py
  aicon/backend/twitter.py
Labels: wip, backend

#87 [feat] Post on Twitter
  aicon/backend/server.py
Labels: enhancement, backend

#88 [change] Add icon and adjust button position
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: change, frontend

#89 Develop/twitter
  aicon/backend/constant.py
  aicon/backend/server.py
  aicon/backend/twitter.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/demo_img/icon/icon.png
  aicon/frontend/static/demo_img/icon/tweet.png
  aicon/frontend/static/js/functions.js
  aicon/frontend/static/js/jquery.cookie.js
  aicon/frontend/static/js/jquery.min.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/authentication.html
  aicon/frontend/templates/twitter-callback.html
  aicon/frontend/templates/twitter-send.html
Labels: enhancement, change, backend, frontend

#91 [update] Modify design.
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
Labels: enhancement, frontend

#90 [change] Changed tweet text
  aicon/backend/constant.py
  aicon/backend/server.py
Labels: change, backend

#92 [fix] Fixed a bug
  aicon/backend/server.py
Labels: backend, hotfix

#93 Feature/frontend/twitter
  aicon/backend/constant.py
  aicon/backend/server.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/css/help.css
  aicon/frontend/static/demo_img/DeepDaze/Catcher_in_the_Rye.png
  aicon/frontend/static/demo_img/DeepDaze/New_green_promenade.png
  aicon/frontend/static/demo_img/DeepDaze/burning_ice.png
  aicon/frontend/static/demo_img/DeepDaze/cosmos.png
  aicon/frontend/static/demo_img/icon/aicon_2.ico
  aicon/frontend/static/demo_img/icon/loading_light.gif
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/help.html
Labels: change, frontend

#94 Develop/twitter
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/css/help.css
  aicon/frontend/static/demo_img/DeepDaze/Catcher_in_the_Rye.png
  aicon/frontend/static/demo_img/DeepDaze/New_green_promenade.png
  aicon/frontend/static/demo_img/DeepDaze/burning_ice.png
  aicon/frontend/static/demo_img/DeepDaze/cosmos.png
  aicon/frontend/static/demo_img/icon/aicon_2.ico
  aicon/frontend/static/demo_img/icon/loading_light.gif
  aicon/frontend/static/js/functions.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/help.html
Labels: change

#95 [docs] Changed README
  README.md
  assets/AIcon_logo.gif
  assets/New_green_promenade.png
  assets/burning_ice.png
  assets/fire_and_ice.png
  assets/logo.png
  assets/logo_black.png
  assets/logo_dark.png
Labels: documentation

#97 [change] remove unneed code
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/deep_daze/deep_daze.py
Labels: backend

#96 Develop/develop
  README.md
  aicon/backend/constant.py
  aicon/backend/models/big_sleep/big_sleep.py
  aicon/backend/models/deep_daze/deep_daze.py
  aicon/backend/server.py
  aicon/backend/translation.py
  aicon/backend/twitter.py
  aicon/frontend/static/css/aicon.css
  aicon/frontend/static/css/help.css
  aicon/frontend/static/demo_img/BigSleep/Alice_in_wonderland.png
  aicon/frontend/static/demo_img/BigSleep/Demon_Slayer.png
  aicon/frontend/static/demo_img/BigSleep/Fantasia_World.png
  aicon/frontend/static/demo_img/BigSleep/Fantasia_galaxy.png
  aicon/frontend/static/demo_img/BigSleep/bread.png
  aicon/frontend/static/demo_img/BigSleep/cinderella.png
  aicon/frontend/static/demo_img/BigSleep/fire_and_ice.png
  aicon/frontend/static/demo_img/BigSleep/galaxy.png
  aicon/frontend/static/demo_img/BigSleep/lagoon.png
  aicon/frontend/static/demo_img/DeepDaze/Catcher_in_the_Rye.png
  aicon/frontend/static/demo_img/DeepDaze/New_green_promenade.png
  aicon/frontend/static/demo_img/DeepDaze/Women_in_cyberpunk.png
  aicon/frontend/static/demo_img/DeepDaze/burning_ice.png
  aicon/frontend/static/demo_img/DeepDaze/cosmos.png
  aicon/frontend/static/demo_img/DeepDaze/inferno.png
  aicon/frontend/static/demo_img/icon/aicon_2.ico
  aicon/frontend/static/demo_img/icon/icon.png
  aicon/frontend/static/demo_img/icon/loading_light.gif
  aicon/frontend/static/demo_img/icon/tweet.png
  aicon/frontend/static/js/functions.js
  aicon/frontend/static/js/jquery.cookie.js
  aicon/frontend/static/js/jquery.min.js
  aicon/frontend/templates/aicon.html
  aicon/frontend/templates/authentication.html
  aicon/frontend/templates/help.html
  aicon/frontend/templates/twitter-callback.html
  aicon/frontend/templates/twitter-send.html
  assets/AIcon_logo.gif
  assets/New_green_promenade.png
  assets/burning_ice.png
  assets/fire_and_ice.png
  assets/logo.png
  assets/logo_black.png
  assets/logo_dark.png
Labels: enhancement, change, backend, frontend

#98 Update README.md
  README.md
Labels: documentation

#100 Feature/frontend/twitter
  CODE_OF_CONDUCT.md
  README.md
  aicon/frontend/static/js/functions.js
Labels: enhancement, frontend

#101 Develop/develop
  aicon/frontend/static/js/functions.js
Labels: enhancement, frontend
